# Gradle files
.gradle/
build/
local.properties

# Android Studio files
.idea/
*.iml
*.hprof

# User-specific files
.DS_Store
*.log
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear
*.so
*.swp
*.swo

# Android specific
captures/
.externalNativeBuild/
.cxx/
*.keystore
*.jks

# Miscellaneous
*.orig
*.tmp
*.temp
*.bak
*.zip
*.tar.gz
*.tgz
*.gz
*.bz2
*.7z
*.rar
*.tar